.shiny-text {
    font-weight: 800;
    position: relative;
    color: #fff;
    background: linear-gradient(90deg, #fff 0%, #00CFFF50 50%, #fff 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shineMove 2s ease-in-out infinite alternate;
}

@keyframes shineMove {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}
